.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 90px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{
    background-color: #111;
}

.nav__logo{
    width: 80px;
    position: fixed;
    object-fit: contain;
    left: 20px;
    background-color: white;
}

.nav__avatar{
    width: 30px;
    object-fit: contain;
    right: 20px;
    position: fixed;
}